#VS code
*.vscode/

#cpy file
*.pyc

#Mac system files
*.DS_Store

#log files
*.log

#Spyder files
*.ini
.spyproject/

#Pickle files
*.pkl 

#Enviroment files
*.env

#Account files
*.acc
*accounts/

# Unused files
*broken/