requests==2.24.0
numpy>=1.26.4
matplotlib>=3.9.0
pandas>=2.2.0
ortools>=9.5.0
pytest>=7.4.0
yfinance>=0.2.40
alpaca-py>=0.18.0
pyarrow>=14.0.0
beautifulsoup4==4.9.3
python-dotenv>=1.0.0
pandas-market-calendars>=4.3.0
