pandas_datareader==0.9.0
PuLP==2.4
requests==2.24.0
numpy==1.19.2
matplotlib==3.3.1
pandas==1.1.2
ortools==8.0.8283
pytest==6.2.4
yfinance==0.1.63
alpaca_trade_api==1.2.3
beautifulsoup4==4.9.3
gurobipy==9.1.2
